Здравствуйте! Вы получили данное письмо, т.к. в соответствии с федеральным законом №152-ФЗ "О персональных данных" Российской федерации и Общим регламентом защиты персональных данных (GDPR) Европейского союза, вы запросили информацию о себе, которую использует сервис Quore.<br><br>

Имя: {{ name }}<br>
Дата рождения (ГГГГ-ММ-ДД): {{ birth }}<br>
Возраст: {{ age }} полных лет<br>
Пол: {{ sex }}<br>
О себе: {{ about }}<br>
Отображаемый статус: {{ status }}<br>
Адрес электронной почты: {{ email }}<br>
Дата регистрации: {{ sent }} (UTC)<br><br>

Вы поставили лайк следующим пользователям:<br>
{% for like in likes %}
    Имя: {{ like[0] }}<br>
    Поставлен: {{ like[1] }} (UTC)<br>
{% endfor %}
<br>
Вы поставили дизлайк следующим пользователям:<br>
{% for dislike in dislikes %}
    Имя: {{ dislike[0] }}<br>
    Поставлен: {{ dislike[1] }} (UTC)<br>
{% endfor %}
<br>
Если вы не запрашивали информацию - срочно свяжитесь с нами: security@novatorsmobile.ru<br>
С уважением, команда Novators